<!-- <h1> Titulo de la pagina web : {{title}}</h1> -->
<!-- 
<app-signup> </app-signup> -->
<a name="arriba"></a>
<header> <img src="../assets/imagenes/checkinBGA.png" alt="checkinBGA">
 <div class="center"> <h1>Bienvenidos a CheckinBGA2</h1> </div>
</header>
<br><br> 

<div class="center"> 
    <img src="../assets/botones/INICIO2.png" alt="logo inicio">
</div>
<br>

<div class="center">
    <nav>
        <a class="btn btn-outline-info"  routerLink="login" href="subsitio/login.html"><b>Login</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Historial</b></a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Buscar habitación</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Reservar</b> </a>
        <a class="btn btn-outline-info" href="subsitio/galeria.html"> <b>Galeria</b> </a>
        <a class="btn btn-outline-info" href="subsitio/login.html"> <b>Darse de baja</b> </a>
        <a class="btn btn-outline-info" href="subsitio/registrarse.html"> <b>Registro</b> </a>
    </nav>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<router-outlet></router-outlet>